# https://pnpm.io/npmrc
# workspace의 패키지가 root node_modules에 연결됨 (default : true)
link-workspace-packages = true
# root node_modules에 있는 선언하지 않은 dependency에 접근할 수 있음 (default : false)
shamefully-hoist = false
# 유효하지 않은 peerDependencies를 설치시 에러를 발생시킴 (default : false)
strict-peer-dependencies = false
# peer dependencies를 workspace root에서 찾음 (default : true)
resolve-peers-from-workspace-root=true
# node 버전화 화환되지 않는다고 주정하는 패키지를 설치하지 않음 (default : false)
engine-strict = true
